.sidebar {
  min-width: 260px;
  max-width: 260px;
  transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
  direction: ltr;
  background: $c-main-dark-bg;
  color: $c-main-dark-bg-text;

  a {
    color: $c-main-dark-bg-text;
  }
}