body {
  background-color: $c-main-dark-bg-body-bg;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.content-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-width: 0;
  transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
  flex-direction: column;
}